---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import JS from "../assets/js.png";
import Java from "../assets/java.png";
import CS from "../assets/cs.png";
import HTML from "../assets/html.png";
import CSS from "../assets/css.png";
import Git from "../assets/git.png";
import React from "../assets/react.png";
import Footer from "../components/Footer.astro";
import SQL from "../assets/sql.png";
import Node from "../assets/nodejs.png";
import Mongo from "../assets/mongo.png";
import Tailwind from "../assets/tailwind.png";
import AstroLogo from "../assets/favicon.svg";
import Ruby from "../assets/ruby.png";
import Android from "../assets/android.png";
import "../styles/global.css"
---

<Layout title="Samuel Amat - Full Stack Developer">
	<Nav />
    <div class="flex flex-col items-center fadeIn fadeOut">
        <div class="flex gap-5 flex-col justify-center rounded md:w-2/4 font-inte mt-10 p-10 md:p-3">
            <h1 class="md:text-3xl text-xl text-especial uppercase">Sobre mí 🖐️</h1>
            <div class="flex">
                <div class="md:text-xl text-lg flex gap-8 flex-col">  
                    <p>Gracias a mi pasión por el mundo de la programación, he aprendido de manera autodidacta conceptos fundamentales de ingeniería informática, como <i class="text-verde">algoritmos</i> y <i class="text-verde">estructuras de datos</i>, <i class="text-verde">arquitecturas de software</i>, <i class="text-verde">patrones de diseño</i>, etc. Todos estos conceptos me han sido muy útiles para estar a la altura
                        de los estándares actuales de la industria y poder escribir <i class="text-verde">código limpio</i>, <i class="text-verde">escalable</i> y <i class="text-verde">fácil de mantener</i>.
                    </p>
                    <p>En cuanto a mis gustos soy un completo apasionado por la lectura, me gusta todo tipo de lectura pero en general la fantasía y la ciencia ficción son mis géneros favoritos. También soy un gran aficionado a los videojuegos y en parte gracias a ellos he desarrollado un gusto por la tecnología y la informática.</p>
                </div>
            </div>

            <h1 class="text-3xl uppercase text-especial">Mi stack tecnológico 💻</h1>
            <div class="grid gap-3 md:gap-5 grid-cols-3 md:grid-cols-6 p-10 bg-stone-800 rounded shadow-lg text-white">  
                <div class="flex flex-col items-center text-center">
                    <img class="w-16 h-16 hover:scale-110 transition-all ease-in-out" src={JS.src} alt="">
                    <p>JavaScript</p>
                </div>
                <div class="flex flex-col items-center text-center">
                    <img class="w-16 h-16 hover:scale-110 transition-all ease-in-out" src={Java.src} alt="">
                    <p>Java</p>
                </div>
                <div class="flex flex-col items-center text-center">
                    <img class="w-16 h-16 hover:scale-110 transition-all ease-in-out" src={CS.src} alt="">
                    <p>C#</p>
                </div>
                <div class="flex flex-col items-center text-center">
                    <img class="w-16 h-16 hover:scale-110 transition-all ease-in-out" src={Ruby.src} alt="">
                    <p>Ruby</p>
                </div>
                <div class="flex flex-col items-center text-center">
                    <img class="w-16 h-16 hover:scale-110 transition-all ease-in-out" src={HTML.src} alt="">
                    <p>HTML</p>
                </div>
                <div class="flex flex-col items-center text-center">
                    <img class="w-16 h-16 hover:scale-110 transition-all ease-in-out" src={CSS.src} alt="">
                    <p>CSS</p>
                </div>
                <div class="flex flex-col items-center text-center">
                    <img class="w-16 h-16 hover:scale-110 transition-all ease-in-out" src={Git.src} alt="">
                    <p>Git</p>
                </div>
                <div class="flex flex-col items-center text-center">
                    <img class="w-16 h-16 hover:scale-110 transition-all ease-in-out" src={React.src} alt="">
                    <p>React</p>
                </div>
                <div class="flex flex-col items-center text-center">
                    <img class="w-16 h-16 hover:scale-110 transition-all ease-in-out" src={SQL.src} alt="">
                    <p>SQL</p>
                </div>
                <div class="flex flex-col items-center text-center">
                    <img class="w-16 h-16 hover:scale-110 transition-all ease-in-out" src={Node.src} alt="">
                    <p>Node.js</p>
                </div>
                <div class="flex flex-col items-center text-center">
                    <img class="w-16 h-16 hover:scale-110 transition-all ease-in-out" src={Mongo.src} alt="">
                    <p>MongoDB</p>
                </div>
                <div class="flex flex-col items-center text-center">
                    <img class="h-16 hover:scale-110 transition-all ease-in-out" src={Tailwind.src} alt="">
                    <p>Tailwind CSS</p>
                </div>
                <div class="flex flex-col items-center text-center">
                    <img class="w-16 h-16 hover:scale-110 transition-all ease-in-out" src={AstroLogo.src} alt="">
                    <p>Astro</p>
                </div>
                <div class="flex flex-col items-center text-center">
                    <img class="w-16 h-16 hover:scale-110 transition-all ease-in-out" src={Android.src} alt="">
                    <p>Android</p>
                </div>
            </div>
        </div>
        <a class="special-button" href="/proyects">¡Echa un vistazo a mis proyectos!</a>
        <Footer />
    </div>
</Layout>